# Ignore node_modules folder for both client and server
node_modules/

# Ignore build and dist folders for both client and server
build/
dist/

# Ignore any log files
*.log


# Ignore any temporary or backup files
*~
*.swp
*.bak
